# ============================================
# LIMRA RESTAURANT — ENVIRONMENT CONFIGURATION
# 100% PURE MONGODB ATLAS ARCHITECTURE
# ============================================

PORT=3000

# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://arfatalis451_db_user:QGLrLdwQK0j8h33K@limra.pp0vnqp.mongodb.net/limra_restaurant?retryWrites=true&w=majority&appName=limra
MONGODB_DB_NAME=limra_restaurant

# Razorpay Credentials (Optional / Payment Gateway)
RAZORPAY_KEY_ID=rzp_test_TBmsInWXVkKowt
RAZORPAY_KEY_SECRET=DL98BCefLpezCsb3bdj5f2MW
VITE_RAZORPAY_KEY_ID=rzp_test_TBmsInWXVkKowt
